<%= f.error_messages %>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :brand %><br />
  <%= f.text_field :brand %>
</p>

<p>
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</p>
<% unless @product.new_record?%>
	<p>
	  <%= f.label "Product Type" %>
	  <%= f.select :product_type_id, ProductType.all.collect {|p| [p.name, p.id]}, {:prompt => "Select type"}, { :onchange => "this.form.submit();" } %>
	<%= link_to "Edit", product_types_path %>

	<div id="specs">
		<%= render :partial => "product_spec", :collection => @product.product_specs %>
	</div>
	<%= link_to "Add a specification", :controller => "products", :action => "add_product_spec_link", :id => @product.id %> | <%= link_to "Edit specs list", specifications_path %>
<% end %>