<div class='spec'>
<table>
<% fields_for "product[spec_attributes][]", product_spec do |product_spec_form| %>
<tr>
	<td>
		<% if product_spec.specification_id.nil? %>
			<%= product_spec_form.collection_select :specification_id, Specification.not_attached_with(@product), :id, :name, {:prompt => "Select"}, {:index => nil, :onchange => "this.form.submit();"}%>
		<% else %>
			<%= product_spec_form.collection_select :specification_id, Specification.all, :id, :name, {:prompt => "Select"}, {:index => nil} %>
		<% end %>
	</td><td>
		<%= find_inputfield(product_spec.specification.type, product_spec_form, product_spec) %>
		<%= product_spec_form.hidden_field :id, :index => nil %>
		<%= product_spec_form.hidden_field :required, :index => nil %></td><td>
		<% unless product_spec.required? %>
				<%= link_to "remove", :action => "remove_product_spec", :id => @product.id, :product_spec_id => product_spec.id %>
		<% end %>
		</td>
</tr>
<% end %>
</table>
</div>