<div class='spec'>
<table>
<% fields_for "product[spec_attributes][]", product_spec do |product_spec_form| %>
<tr>
    <td>Product Specification:</td>
	<td>
		<% if product_spec.specification_id.blank? %>
			<%= product_spec_form.collection_select :specification_id, Specification.not_attached_with(@product), :id, :name, {}, {:index => nil}%>
		<% else %>
			<%= product_spec_form.collection_select :specification_id, Specification.all, :id, :name, {}, {:index => nil, :disabled => true} %>
		<% end %>
	</td>
  	<td>Value:</td><td>
		<%= find_inputfield(product_spec.specification.type, product_spec_form, product_spec) %>
		<%= product_spec_form.hidden_field :required, :index => nil %></td>
	<% if product_spec.new_record? %>
		<td>
			<% unless product_spec.required? %>
				<%= link_to_function "remove", "$(this).up('.spec').remove()" %>
			<% end %>
		</td>
	<% else %>
		<td>
			<% unless product_spec.required? %>
				<%= link_to_function "remove", "mark_for_destroy(this)" %>
			<% end %>
			<%= product_spec_form.hidden_field :id, :index => nil %>
			<%= product_spec_form.hidden_field :should_destroy, :index => nil, :class => 'should_destroy' %>
		</td>
	<% end %>
</tr>
<% end %>
</table>
</div>